.cart {
    margin-top: 100px;
    
}

.container-cart {
    display: flex;
    width: 100%;
}

.cart-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.cart-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    padding: 6px;
    gap: 10px;
    border-radius: 50px;
}

.cart-add img {
    width: 20px;
    height: 20px;
}

.cart-container-image {
    width: 200px;
}

.cart-container-image img {
    width: 50%;
}


.cart hr {
    height: 1px;
    background-color: #e2e2e2;
}

.cart-bottom {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.cart-total {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr {
    margin: 10px 0px;
    color: #555;
}

.cart-total button {
    width: max(15vw, 200px);
    color: white;
    background-color: #d90429;
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;

}

.cart-promocode-input input {
    background:transparent;
    border: none;
    outline: none;
    color: black;
    padding-left: 10px;
}

.cart-promocode-input button {
    width: max(10vw, 150px);
    color: white;
    background-color: black;
    border: none;
    padding: 10px 0px;
    border-radius: 4px;
}


@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

}






