.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 5rem; 
    gap: 5px;
    z-index: 1000; /*  encima de otros elementos */
    transition: background-color 0.3s ease;
}

.navbar-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    
   
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: none;

}

ul {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}






.active {
    padding-bottom: 1px;
    border-bottom: 2px solid #d90429;
}

.navbar-search {
    position: relative;
}

.navbar-search img {
    width: 40px;
}
.navbar.scrolled {
    background: rgb(238, 236, 236);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.9);
-webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.6);
  }

.navbar-search .dot {
    position: absolute;
    min-width: 19px;
    min-height: 10px;
    background-color: #d90429;
    border-radius: 100%;
    color: white;
    top: -8px;
    right: -10px;
}

.navbar-search .dot p {
    text-align: center;
}

.searcher {
    display: flex;
    position: relative;
    width: 300px;
    

}

.searcher input {
    height: 50px ;
    width: 100%;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 5px;
    padding: 10px;
}

.searcher img {
    width: 40px;
    background: #d90429;
    padding: 5px;
    border-radius: 4px;
    color: white;
    position: absolute;
    left: 85%;
    top: 10%;
    
}



.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
}

.profile p {
    font-size: 15px;
    font-family: sans-serif;
}

.logo {
    cursor: pointer;
    
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fcfbfb;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #5f5f5f63;
    list-style: none;
    width: 200px;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    left: 20px;
}

.nav-profile-dropdown img {
    width: 25px;
}

.mobile-logo {
    display: none;
}

.profile-dropdown p {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    display: none;
}

.hr-dropdown {
    display: none;
}

.profile-dropdown span {
    text-transform: capitalize;
    font-weight: 600;
    color: #d90429;
}

.profile p {
    font-size: 15px;
    font-family: sans-serif;
}

.profile span {
    color: #d90429;
    text-transform: capitalize;
    font-weight: 600;
}

.profile img {
    width: 40px;
}

.login-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.span-login {
    color: black;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .nav-profile-dropdown img {
        width: 15px;
    }

    

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }
    

    .navbar-right button {
        padding: 8px 25px;

    }

    .profile-name {
        display: none;
    }

    .navbar-right img {
        width: 35px;
    }

    .profile-dropdown p {
        display: block;
    }
    
    .hr-dropdown {
        display: block;
    }

    .navbar-search img {
        width: 35px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 15px;
    }

    .navbar-space-between {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        
       
    }

    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 25px;
    }

    .navbar-right button {
        padding: 5px 12px;
        font-size: 12px;
    }

    .profile img {
        width: 40px;
    }
    .navbar-search img {
        width: 35px;
    }
   

    
    
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }

    .logo {
        width: 3px;
    }

    .searcher {
        display: flex;
        position: relative;
        width: 50%;
    
    }

    .profile img {
        width: 40px;
    }
    .navbar-search img {
        width: 35px;
    }

    
    
    
}

@media (max-width: 550px) {
    .searcher img {
        width: 30px;
        background: #d90429;
        padding: 5px;
        border-radius: 4px;
        color: white;
        position: absolute;
        left: 82%;
        top: 20%;
    }


    .logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .profile img {
        width: 35px;
    }
    .navbar-search img {
        width: 35px;
    }
}