.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 4%;
    align-items: center;
}

.title-admin {
    margin-left: 50px;
    justify-content: center;
}

.title-admin span {
    color: tomato;
}



