.my-orders {
    width: 80%;
    margin: 150px auto;
 
    
}

.container-order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
   
    
}



.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(99, 97, 97, 0.336);
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
} 

.order-details {
    display: flex;
}

.my-orders-order button {
    padding: 10px;
    background-color: #d90429;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;

}

.my-orders-order button:disabled {
  
    background-color: #949292;
   
    color: white;
  

}


.my-orders-order img {
    width: 50px;
}
/* .my-orders-order p span {
    font-family: "Poppins";
    font-weight: 900;
    color: #d90429;
} */

.order-title {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 700;
    color: black;
}

.order-price {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 500;
    color: black;
}

.order-product {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 500;
    color: black;
}

.orange {
    color: orange;
    
}

.verde {
    color: green;
}

.rojo {
   color: #d90429
}



@media (max-width: 1050px) {
    /* .my-orders-order {
        grid-template-columns: 1fr 3fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    } */

    .my-orders-order {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        gap: 20px;
    }  

    .my-orders-order button {
        padding: 10px;
        background-color: #d90429;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 12px;
    
    }
}