.header {
    height: 34vw;
    background-size: contain;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}



.header-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    height: 50vh;
    top: 90px;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: max(4.5vw, 22px);
    width: 900px;
    max-width: 700p;
   
    
}

.header-contents p {
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.header-contents button {
    background: rgb(226, 41, 8);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: max(1vw, 13px);
    cursor: pointer;
    transition: ease-in 0.3s;
}


.slider {
    height: 100%;
    /* background: #92031b; */
    z-index: 1;
}

.bg-slider-offers {
    background-image: url('../../assets/vegan.webp');
    background-position: initial;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

.bg-slider-menu {
    background-image: url('../../assets/pizza.webp');
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

.bg-slider-food {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    border-radius: 20px;
}

.bg-slider-lastoffer {
background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%;
 border-radius: 20px;

}

.content-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.content-image {
    display: flex;
    justify-content: flex-end;
    width: 20px;
}


.header-contents-img {
    width: 100%;
    animation: fadeIn 3s;
}

.header-contents-img img {
    width: 100%
}



@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
        top: 50px;
    }

    .header-contents h2 {
        
        width: 500px;
    }

    .header-contents p {
        display: none;
    }
}

@media (max-width: 750px) {

    .header {
        margin-bottom: 2rem;
    }

    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}

@media (max-width: 500px) {
    .header-contents {
        top: 10px;
        width: 600px;
    }

    .header-contents p {
        display: none;
    }

    .header-contents h2 {
        margin-bottom: 1px;
        width: 280px;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
    
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
